 *{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
canvas{
  width: 50%;
  position: relative;
  left: 25%;
}
body{
  background-color: black;
}
html, body {
  min-height: 100%;
}
h1{
  color: lime;
  font-family: sans-serif;
  font-size: 20px;
}
#dev{
  text-align: center;
}
#paragrafo{
  text-align: center;
  text-decoration: underline;
}


.fundoCanvas{
  background-color: orange;
  z-index: 4;
}
@keyframes tremer {
  0% {margin-left: 0;}
  25% {margin-left: 5px;}
  50% {margin-left: 0;}
  75% {margin-left: -5px;}
  100% {margin-left: 0;}
}


@media screen and (max-width: 768px){
  canvas{
    width: 350px;
    height: 350px;
    left: 11px;
  }
  .botoes{
    width: 350px;
    height: 168px;
    background-color: black;
    border: 1px solid white;
    position: relative;
    left: 11px;
  }
  .controle{
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    position: relative;
  }
  #cima{
    width: 80px;
    height: 80px;
    background-color: limegreen;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: tremer .2s;
    animation-iteration-count: 4;
  }
  #cima:hover{
    background-color: blue;
    border-radius: 50%;
  }
  #baixo{
    width: 80px;
    height: 80px;
    background-color: red;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: tremer .2s;
    animation-iteration-count: 4;
    position: relative;
    top: 8px;
  }
  #baixo:hover{
    background-color: orangered;
    border-radius: 50%;
  }
  #esquerda{
    width: 80px;
    height: 80px;
    background-color: yellow;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 125px;
    top: -115px;
    animation: tremer .2s;
    animation-iteration-count: 4;
  }
  #esquerda:hover{
    background-color: skyblue;
    
    border-radius: 50%;
  }
  #direita{
    width: 80px;
    height: 80px;
    background-color: magenta;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 230px;
    top: -195px;
    animation: tremer .2s;
    animation-iteration-count: 4;
  }
  #direita:hover{
    background-color: darkmagenta;
    border-radius: 50%;
  }
}
